body {
  background-color: greenyellow;
  
}

.container{
  margin: 0 auto;
  width: 50rem;
}

.navigation{
  margin-left: 2rem;
  text-align: right;
  border-bottom: 5mm;
  border-color: black;
}

.navi{
  text-decoration: none;
  color: black;
  margin-bottom: 3rem;
  border-bottom: 5mm;
  border-color: black;
}

img{
  max-width: 30rem;
}
